.add-item {
  width: 326px;
  display: inline-block;
  display: flex;
  justify-content: space-between;
}

.input {
  border-radius: 4px;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.2);
}

.input:focus {
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.add-button {
  color: #fff;
  background: #94aa2a;
  border-color: #94aa2a;
  border-radius: 4px;
  padding: 10px 15px;
}
